<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Etiam ac velit tincidunt, fringilla justo vel, tempus turpis. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia curae; Phasellus quis faucibus tortor. Sed pretium dignissim tortor, quis egestas dui
    vehicula quis. Donec sit amet velit bibendum, ornare est in, mattis lorem. Vivamus lobortis volutpat lacus, in
    bibendum ipsum pretium in. Nulla facilisi. Nullam eu tellus orci. Aenean consectetur elementum hendrerit. Nullam
    imperdiet consequat metus quis aliquet. Nulla lectus sem, tristique sagittis nunc rhoncus, tincidunt consectetur
    lorem. Nullam cursus urna justo, eu egestas sapien lacinia id.</p>
  <p>Curabitur at tempor tellus, vulputate auctor mi. Nulla viverra massa vel nisi consequat sagittis. In quis elit
    justo. Nunc vel feugiat lectus, ac fermentum augue. Cras rutrum nulla urna, ac suscipit tellus vestibulum in.
    Maecenas consequat consequat neque vel hendrerit. Sed in turpis elit. Vestibulum consectetur leo quis vestibulum
    suscipit. Fusce nulla est, consectetur eu leo sit amet, vestibulum tristique massa. Integer ultricies ornare neque
    vel laoreet. Quisque sem ligula, varius sit amet massa quis, rutrum commodo nulla.</p>
  <p>Phasellus non augue diam. Sed leo metus, ullamcorper id finibus vitae, tristique eget justo. Nulla eu massa sit
    amet turpis suscipit auctor. Integer faucibus est ac nulla scelerisque interdum. Maecenas aliquam dolor arcu, sed
    euismod arcu vulputate eu. Phasellus sit amet purus ut magna tincidunt consectetur quis sed mauris. Integer
    dignissim risus in feugiat pellentesque. Ut efficitur porttitor tincidunt.</p>

  <ion-footer>
    <ion-button id="back" color="medium" [routerDirection]="'root'" [routerLink]="['/chapter2']">Back</ion-button>
    <ion-button id="next" [routerDirection]="'root'" [routerLink]="['/end']">Next</ion-button>

    <div>
      <p>Page 3</p>
    </div>
  </ion-footer>
  
</ion-content>