<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>The End</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="http://lorempixel.com/output/nature-h-c-500-700-6.jpg" />

  <ion-footer>
    <ion-button id="back" color="medium" [routerDirection]="'root'" [routerLink]="['/chapter3']">Back</ion-button>
    <ion-button id="next" [routerDirection]="'root'" [routerLink]="['/home']">Home</ion-button>
  </ion-footer>
  
</ion-content>