<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Pellentesque eu bibendum nisl. Nam in pellentesque justo, non finibus metus. Integer leo orci, vehicula at
    imperdiet in, mattis et tortor. Pellentesque ultrices quam sed mi porttitor, vitae feugiat ligula tempus. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc vitae mi interdum,
    ultricies sem eu, fermentum nulla. Vestibulum maximus augue nisl, lobortis eleifend nisi viverra vel. Nam ornare
    maximus mollis. Mauris arcu ex, dapibus et posuere eget, aliquet blandit eros. Vestibulum fringilla mollis massa eu
    ultrices. Suspendisse at consequat urna, non malesuada leo. Nam sit amet velit blandit, ultricies neque eu, euismod
    dolor. Curabitur imperdiet nunc ut orci accumsan, ut dapibus enim pulvinar.</p>
  <p>Suspendisse sed tellus dui. Nulla accumsan quam volutpat elementum volutpat. Integer bibendum, risus a elementum
    laoreet, lorem nisi ullamcorper nisi, sed porttitor metus diam nec nulla. Maecenas nulla turpis, egestas sed massa
    egestas, facilisis commodo velit. Morbi pellentesque ligula massa, eu iaculis mauris bibendum ut. Cras ut neque
    vitae arcu vulputate cursus sed bibendum metus. Morbi placerat risus sed leo commodo porttitor. Mauris sed molestie
    arcu. Quisque ipsum ante, pharetra ac efficitur sed, placerat vitae massa. Sed quis lectus ligula. Praesent sodales
    erat viverra ligula euismod, et scelerisque libero elementum.</p>

  <ion-footer>
    <ion-button id="back" color="medium" [routerDirection]="'root'" [routerLink]="['/chapter1']">Back</ion-button>
    <ion-button id="next" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next</ion-button>

    <div>
      <p>Page 2</p>
    </div>
  </ion-footer>
  
</ion-content>