<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis nibh et ipsum eleifend ornare. Sed elementum
    vel nisi quis convallis. In blandit risus quis neque commodo, eu porttitor augue ullamcorper. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla ac sagittis augue. Proin feugiat quam id
    nunc ullamcorper pharetra. Aenean et cursus felis, sed laoreet lorem. Nulla porttitor ultrices lorem nec auctor.
    Nunc nulla ex, sodales eget egestas id, rhoncus dignissim mi. Pellentesque rhoncus nulla erat, vitae tristique
    turpis efficitur nec. In efficitur aliquam diam eu efficitur. Maecenas vitae velit odio. Nulla eu egestas enim.</p>
  <p>Suspendisse neque turpis, lacinia sit amet viverra et, bibendum a augue. Maecenas eu leo eu velit egestas suscipit
    in nec neque. Fusce eget ex euismod neque sollicitudin sollicitudin ut quis erat. Nulla elementum, ligula vitae
    auctor placerat, lectus ante consequat eros, at placerat ligula tortor a nisi. Nunc venenatis turpis a pharetra
    interdum. Vivamus erat lorem, scelerisque vel arcu a, convallis egestas orci. Sed venenatis ante risus, in rutrum
    nisl laoreet porta. Donec consequat semper fermentum. In non turpis tortor. Nulla laoreet, lorem id malesuada
    consectetur, velit lacus rhoncus purus, et aliquet ante quam eget ipsum. Nulla placerat quam a orci auctor,
    sollicitudin tempus odio porttitor. Mauris lobortis ante nibh, id maximus elit porta scelerisque. Vivamus justo
    dolor, pretium sit amet diam ut, faucibus sagittis mi. Quisque vel lobortis ex, sit amet blandit augue. Cras massa
    mi, auctor id nisi sit amet, volutpat porta nisi. Suspendisse nibh lorem, mattis sed est ut, sagittis dignissim
    tellus.</p>

  <ion-footer>
    <ion-button id="back" color="medium" [routerDirection]="'root'" [routerLink]="['/list']">Back</ion-button>
    <ion-button id="next" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next</ion-button>

    <div>
      <p>Page 1</p>
    </div>
  </ion-footer>

</ion-content>